*{
  font-family: 'Manrope', sans-serif;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a { color: hsl(228, 45%, 44%);
}

body{
  /* background-color: #edf2f8; */
  background-color: hsl(210, 46%, 95%);
}

.card{
  height: 250px;
  width: 60%;
  display: flex;
  margin: auto;
  border-radius: 7px;
  box-shadow: 0px 1px 10px 0px rgba(0,0,0,0.3);
  box-sizing: border-box;
  background-color: #ffffff;
}

.card__header--container{
  position: relative;
}

.card__img--container img{
  height: 250px;
  border-top-left-radius: 7px;
  border-bottom-left-radius:7px;
}

.card__header--text{
  font-size: 20px;
  color: hsl(217, 19%, 35%);
  font-weight: 700;
  width: 80%;
  margin: 20px auto 10px auto;
}

.card__text{
  font-size: 13px;
  color: hsl(214, 17%, 51%);
  width: 80%;
  margin: 0 auto;
}

.card__text--img img{
  border-radius: 50%;
  height: 40px;
}

.card__text--author{
  display: flex;
  margin-left: 3rem;
  margin-top: 14px;
}

.card__text--author--container{
  margin-left: 5px;
}

.card__author{
  font-size: 13px;
  font-weight: 700;
  margin: 0 0 0 7px;
  color: hsl(217, 19%, 35%);
}

.card__date{
  font-size: 13px;
  font-weight: 500;
  margin: 0 0 0 7px;
  color: hsl(214, 17%, 51%);
}

.card__button__container{
  display: flex;
  justify-content: flex-end;
}

.card__button__share{
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  margin-top: -40px;
  margin-right: 60px;
}

.button__ul{
  display: flex;
  list-style-type: none;
  margin: 0;
}

.hide{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px 35px;
  height: 10px;
  border-radius: 13px;
  background-color: hsl(217, 19%, 35%);
  left: 217px;
  bottom: 90px;
  box-shadow: 0px 6px 7px 0px rgba(0,0,0,0.25);
}

.hide:after{
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  border: 15px solid transparent;
  border-top-color: hsl(217, 19%, 35%);
  border-bottom: 0;
  margin-bottom: -15px;
  margin-left: -15px;
}

.hide__p{
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffffff;
  font-size: 15px;
  font-weight: 500;
}

.button__ul li{
  font-size: 23px;
  color: #ffffff;
  margin-right: 17px;
}
